[2019-06-16 13:03] broadwaylamb opened #1 "Implement operators"
**Mapping Elements**
- [ ]  `map`
- [ ]  `tryMap`
- [ ]  `flatMap`
- [ ]  `mapError`
- [ ]  `replaceNil`
- [ ]  `scan`
- [ ]  `tryScan`
- [ ]  `setFailureType`

**Filtering Elements**
- [ ]  `filter`
- [ ]  `tryFilter`
- [ ]  `compactMap`
- [ ]  `tryCompactMap`
- [ ]  `removeDuplicates`
- [ ]  `tryRemoveDuplicates`
- [ ]  `replaceEmpty`
- [ ]  `replaceError`

**Reducing Elements**
- [ ]  `collect`

[2019-06-16 18:44] spadafiva opened #2 "Contributions"
I would like to be able to use combine in my projects that are pre-ios 13.  What do you need help with and how can I contribute?

[2019-06-16 21:58] broadwaylamb commented on #2
@spadafiva that would be awesome! Feel free to take a look at #1 and pick any operator you’d like to implement. In that case don’t forget to comment on that issue that you’re working on it, so that we don’t end up doing the work twice :)

[2019-06-16 22:08] broadwaylamb commented on #2
You might want to take a look at how `DropWhile` and `Sink` are already implemented in OpenCombine.

For now I haven’t been optimizing much, the number one goal is correctness and semantic compatibility with Apple’s Combine, i. e. the order in which functions are called, how demand is managed and so on. Hence unit tests are important.

[2019-06-17 12:40] luoxiu opened #4 "How to run compatibility test on macOS 10.14."
Hi, @broadwaylamb !

First of all, great job! I came up with the same idea two days after the release of the Combine: using the power of the community to implement the official spec, making it no longer have the limitations of the os version and platform.

Actually, I've been working there for a few days, 😄:
<img width="954" alt="st" src="https://user-images.githubusercontent.com/18638838/59604115

[2019-06-17 12:42] broadwaylamb commented on #4
Hello @luoxiu! I'm really happy to hear that!

As far as I can tell, it's not possible, since Apple's Combine is not available on macOS 10.14. I've been developing on macOS 10.15 beta.

[2019-06-17 13:01] luoxiu commented on #4
It's not friendly to new contributors I think, macOS 10.15 beta is still a little bit buggy now.

My project is using the unit test target of an iOS app project for testing. It has two schemes: `Specs` and `CombineSpecs`, and they share the same test files, so you can write tests like:

[code]

All you need is just Xcode beta, what do you think?

[2019-06-17 13:05] broadwaylamb commented on #4
@luoxiu that's how it's implemented now in OpenCombine too. If that works on macOS 10.14, I'm glad to be mistaken.

For running compatibility tests I use the command line:
[code]

Let me know if you have any troubles.

[2019-06-17 13:09] luoxiu commented on #4
No, I mean, `Xcode 11 beta` on `macOS 10.14` can run `iOS 13 beta` on the simulator. So developers don't need `macOS 10.15 beta` anymore!

Sorry for my broken English, 😄

[2019-06-17 13:19] broadwaylamb commented on #4
@luoxiu have you managed to run the compatibility tests on iOS? If so, I think I should add support for compatibility testing on Travis CI (it's not enabled now as Travis doesn't have macOS 10.15 images yet).

[2019-06-17 13:25] luoxiu commented on #4
I have not tested on Travis, they don't have Xcode beta either.

[2019-06-17 13:26] broadwaylamb commented on #4
Oh, right.

[2019-06-17 14:21] #4 closed

[2019-06-17 22:00] broadwaylamb opened #6 "Supporting Foundation: why it is not possible to do it seamlessly"
So the newest version of Foundation **depends** on Apple's Combine and extends some types like `NotificationCenter` with convenience methods thet return Combine's `Publisher`s like this:

[code]

So the problem is that if now OpenCombine declares the same extension, the clients which import both Foundation and OpenCombine won't be able to call such functions because of how the mechanism of extensi

[2019-06-19 14:32] spadafiva commented on #2
@broadwaylamb

Thanks.  I'll probably start taking a look soon.

[2019-06-19 15:20] viktorasl commented on #6
There is another solution that resolves ambiguity:
[code]

[2019-06-19 18:59] viktorasl commented on #6
Another way, which is not that appealing and would require lots of duplication is to replicate `NotificationCenter` in `OpenCombine` framework:
[code]
at call site it would look like:
[code]

EDIT:

Nope, it won't work that easily, it requires `default` static var and might be even more...

[2019-06-22 00:31] spadafiva commented on #2
@broadwaylamb Hey, I just forked the repo and was going to take a look.  It looks like in the docs that all the different publishers have some shared instance methods.  I'm looking at your Drop implementations and was thinking about tackling the encode/decode ones next.

Is your plan to implement all the operators and then write extensions on Publisher to handle the instance methods on all the ope

[2019-06-22 00:43] spadafiva commented on #2
@broadwaylamb Okay, just took another look.  I see how you added the extensions at the bottom of the file with the publisher.  That makes sense to me.

[2019-06-22 02:31] spadafiva commented on #2
@broadwaylamb Okay, sorry to send you so many messages, but I wanted to see if I was going down the right path for what you'd like to see for this repo before I got too deep into this.  I've got an initial pass at the Decode publisher.  When I try to run the benchmarks, I'm getting a `signal code 11` exit.  I also haven't added all the comments / styling / etc, so I'd like to get your input on tho

[2019-06-22 09:00] rahul0x24 commented on #6
One way to remove ambiguity can be by using a proxy pattern.
[code]
[code]
The you can call the same methods with namespace 'oc'.
[code]

Refer: https://github.com/ReactiveCocoa/ReactiveSwift/blob/master/Sources/Reactive.swift

[2019-06-22 10:02] broadwaylamb commented on #2
Thank you @spadafiva! Looks like you’ve got it mostly right. Maybe it would be better if you could open a draft PR so it’s easier to leave comments.

I also should probably add SwiftLint support, but the general rule is: the line length is 90 characters, no white space before colons in inheritance clause.

Is that a compiler crash or a runtime crash? How to reproduce it?

[2019-06-22 10:06] broadwaylamb commented on #6
@RahulKatariya the looks even better and more concise, thank you!

What I’m thinking about is to do this namespacing thing on Apple platforms, but on non-Apple platforms (Linux, Windows) also add extensions to the original types, since no Combine is present there, hence no ambiguity.

[2019-06-22 10:17] rahul0x24 commented on #6
@broadwaylamb Adding extensions to original types for windows and linux would not give much benefit, just an extra maintenance and synchronization.

Most of the people using OpenCombine in a Swift Package will be supporting all the platforms - Apple, Linux and Window and will make use of one API. What I mean is, I don't think anyone would have the following checks in their code.

[code]

I am not

[2019-06-22 10:41] broadwaylamb commented on #6
@RahulKatariya no, as a client you won't have to perform these checks.

I'm talking about this:

[code]

As a client who targets Linux and, say, macOS prior to 10.15, you will always use:
[code]

If you target Linux and macOS 10.15 (or newer), since you don't have to link against OpenCombine on macOS, you will use:
[code]

[2019-06-22 10:50] rahul0x24 commented on #6
@broadwaylamb - This looks great 😎.

[2019-06-22 12:26] spadafiva commented on #2
Thanks @broadwaylamb,

I'm getting it as a message when running the test suite from the command line.  I'm on my mobile right now, but it's using the command from your README.

I'll open an actual PR later once I get a chance today.

[2019-06-25 16:49] M0rtyMerr commented on #2
Hey @broadwaylamb thank you for your great work.

I just wanted to note, that u should migrate from one letter generic names ASAP. I understand that u just follows Apple code style, but `S` for both `Subscriber` and `Subscription` is kinda bad choice.  A few months ago RxSwift removed all one-character generics from their repo, cause it was a real pain in the ass use `O` for `Observer` and `Observ

[2019-06-25 17:30] broadwaylamb commented on #2
@MortyMerr good idea!

[2019-06-25 20:16] M0rtyMerr commented on #2
@broadwaylamb than we should rename `Subscriber` to `SubscriberType` and `S` to `Subscriber`. For instance:
[code]
What do you think?

[2019-06-25 20:19] spadafiva commented on #2
@broadwaylamb Thanks for adding the new project file.  I think we should probably make an issue or some tracker for each remaining operator so that we can see what everyone is working on.

[2019-06-25 20:20] broadwaylamb commented on #2
@MortyMerr that'd be incompatible with Apple's Combine, so no. Instead, we can do the other way around.

[2019-06-25 20:21] broadwaylamb commented on #2
@spadafiva yep, that makes sense. I'm gonna do that tomorrow.

[2019-06-25 21:17] spadafiva commented on #1
@broadwaylamb Can you create a project card for Publishers.Count for me?

[2019-06-26 00:46] spadafiva opened #11 "DropWhile doesn't need `Predicate` generic constraint on class"
Does DropWhile need to have `Predicate` in the `_DropWhile` generic specialization?  It isn't referenced anywhere in the body of the class and when I removed it everything continued to pass tests.

[2019-06-26 14:07] M0rtyMerr commented on #2
@broadwaylamb I see your latest changes. Great work. But
[code]
looks really strange. `SubscriberType` is something generic. `Subscriber` is a concrete type. You invert these type names and I think this can be unclear for a potential contributor.
`SubscriberType` is something more general than `Subscriber`
We don't usually use `<Shape: Rectangle>` right?
What do u think?

[2019-06-26 17:38] broadwaylamb commented on #11
I used some reverse engineering when implemented `DropWhile` and saw that Apple's Combine used `Predicate` as a generic parameter for some reason. As of Xcode 11.0 beta 2 AFAICT this is no longer the case.

Addressed in #14.

[2019-06-26 17:38] #11 closed

[2019-06-26 23:23] M0rtyMerr commented on #2
[code]
might be better. What do you think?

[2019-06-27 00:26] broadwaylamb commented on #2
@MortyMerr I don't like the leading underscore.

`Upstream`/`Downstream` is already used in some places, maybe we could use them instead.

[2019-07-22 13:22] ilijapuaca opened #34 "Combine interoperability"
First of all, I'd like to say I'm glad I ran into this repo, as I myself had the exact same idea and started implementing the exact same thing! As you guys seem to have solid groundwork set up already, I think that my effort is better placed in this repo. I'll be picking up a few operators and getting to work on them asap.

One of the ideas I had for my implementation (I named it `PreCombine` :)),

[2019-07-22 13:57] broadwaylamb commented on #34
Hi @ilijapuaca!

Not really, the first goal I had in mind when starting this project was to provide a compatible implementation for Linux so it could be used in server-side Swift development.

Being able to leverage Apple's Combine whenever it is available would indeed be great, but the thing is that clients who link against the latest SDK (which includes Combine, hence `canImport(Combine)` evalua

[2019-07-22 14:03] spadafiva commented on #34
I think it would be useful to have a slack channel.  I'm currently on the ios-developers.io slack as spadafiva if you hairy to be on there.

I'm looking forward to working with you.

-Joe

[2019-07-23 15:12] ilijapuaca commented on #34
I keep forgetting that they didn't make Combine available on Linux (did you find any source about why this is the case?), I assume they'll do it at some point but that's a good point, there's definitely some value there.

I see... I haven't tried this myself, and that would indeed be annoying to do. Do you see any other way in which this could be achieved while hiding the implementation details fr

[2019-07-23 22:11] ilijapuaca opened #35 "Tests don't compile with OPENCOMBINE_COMPATIBILITY_TEST enabled"
I picked up a few operators and thought I finished implementing them. I'm having a hard time verifying whether tests are ok since some files don't compile (tried Xcode 11 beta 1 and 4, the latest one).

The issues are mainly with a few Publishers that seem to be gone in the latest version of the framework, like Once and Empty. I guess I could just remove some of these from my test target, but I wa

[2019-07-25 06:27] gokselkoksal commented on #2
Great work. I was going to start this myself if I haven't seen this. I can probably start helping out when I'm back from holidays.

I cloned the repo but don't see a xcodeproj/xcworkspace, that should probably be included in master so it's easier to work on. Is there a contribution guide?

[2019-07-25 06:40] broadwaylamb commented on #2
@gokselkoksal thanks!

I intentionally don’t check in an xcodeproj for consistency with the Package.swift manifest. If you’re using Xcode 10, you can execute the following command in the terminal:

[code]

and then open the generated project.

If you’re using Xcode 11, you can just open Package.swift and the workspace will open automatically with all the files and schemes.

[2019-07-25 06:44] broadwaylamb commented on #35
Thanks for reporting this @ilijapuaca!

I’ve updated the project for beta 4 in #36, but it needs some minor cleanup before merging, I’ll get to it in today or tomorrow.

[2019-07-25 06:44] #35 closed

[2019-07-25 06:47] gokselkoksal commented on #2
OK that worked fine 👍 I'll check the board before picking up a task!

[2019-07-31 09:55] FranzBusch opened #38 "CurrentValueSubject is not sending correct value"
Hey,

first thanks for this project, I think this can have a huge community impact if we drive it forward and Apple doesn't open-source Combine. I was playing around with it and found a behaviour that I guess is not matching the Apple Combine behaviour.

Take this code:

[code]

Apple's variant is printing `2` but OpenCombine is printing `0`. I tracked down the code and saw that we are not storing

[2019-08-01 15:05] #38 closed

[2019-08-05 12:39] broadwaylamb commented on #34
I've created [a Slack workspace](https://join.slack.com/t/opencombine/shared_invite/enQtNzE2MjE5NzkxODI0LTYxMjkzNDUxZWViZWI1Njc2YjBhODgxNjRjOTdkZTcxOGU2ZjJjZjYxMGI3NWZkN2RkNGFmZTUzNmU3MGE2ZWM).

[2019-08-09 13:30] jdisho opened #42 "Create removeDuplicates and removeDuplicates(by:)"
Thank you for OpenCombine! 😊

I realised that the work for `removeDuplicates` and `removeDuplicates(by:)` is missing, so I am volunteering to work on these two operators.

If that is fine to you @broadwaylamb, can you assign this issue to me? As far as I can see, I can not do it.

[2019-08-09 13:33] broadwaylamb commented on #42
Thank you @jdisho!

I thought @FranzBusch wanted to implement those operators, so he mentioned on [our Slack channel](https://join.slack.com/t/opencombine/shared_invite/enQtNzE2MjE5NzkxODI0LTYxMjkzNDUxZWViZWI1Njc2YjBhODgxNjRjOTdkZTcxOGU2ZjJjZjYxMGI3NWZkN2RkNGFmZTUzNmU3MGE2ZWM).

[2019-08-09 15:30] FranzBusch commented on #42
Yes, I have already something working quite nicely just need to implement more tests. I hope I can open a PR this weekend

[2019-08-10 08:13] jdisho commented on #42
Okay! Does it make sense to you @broadwaylamb to update #1 regarding who-is-working-on-what? I assume you have a better overview about this. 😊

[2019-08-16 19:14] epatey opened #43 "Implement IgnoreOutput"
Thanks for the important project. It will make transitioning to Combine realistic.

To get my feet wet, I took a stab at `IgnoreOutput` since it's so trivial. Happy to pick up some more once this one goes in.

[2019-08-16 19:57] epatey commented on #43
Closing this issue since it seems that most people just open a PR and have discussion there.

[2019-08-16 19:57] #43 closed

[2019-08-27 18:42] epatey opened #47 "Why enforce matching of name of Subscription with Apple's implementation"
The common pattern in the unit tests is to assert that the string description of the entity that implements `Subscription` matches what Apple does. For example,
[code]
or
[code]

This seems strange to me. From my perspective, that's testing implementation details rather than behavior.

Notice how those two test cases above assert different subscription names. This is because Apple simply chose to

[2019-08-28 07:17] gal-orlanczyk opened #48 "CocoaPods Support"
Hey guys! super cool initiative and amazing work!

I wanted to ask if you guys plan to add support for CocoaPods any time soon?

Thanks!

[2019-08-28 08:16] broadwaylamb commented on #48
Hi!

I think that Swift Package Manager integrated into Xcode 11 should be enough for using OpenCombine in iOS/macOS/tvOS/watchOS projects, but if you feel like it's necessary, I can go ahead and add support for CocoaPods. Or you can help me out a bit and create a pull request :)

[2019-08-28 08:36] broadwaylamb commented on #47
It all boils down to the question "what **is** an implementation detail and what is not".

In my opinion, whatever (even opaque) object the framework throws at us, we (as clients) should be able to query it for protocol conformances and rely on the result of those conformances (such as an object having certain string representation), unless it's explicitly discouraged in the documentation. And `Cu

[2019-08-28 13:02] reuvenlevitsky commented on #48
@broadwaylamb cocoapods would be amazing!

[2019-09-01 11:09] #47 closed

[2019-09-01 11:09] #34 closed

[2019-09-18 12:52] evyasafhouzz opened #58 "eraseToAnyPublisher"
Please Add Support For eraseToAnyPublisher()

[2019-09-18 13:08] broadwaylamb commented on #58
Oh, I thought I've implemented that, but turns out I haven't.

[2019-09-18 13:18] evyasafhouzz commented on #58
Thank you so much for your hard work!

[2019-09-18 13:55] #58 closed

[2019-09-19 20:46] #2 closed

[2019-09-19 20:46] #6 closed

[2019-10-02 07:58] abeazam opened #68 "Extra call to sink"
I wrote a little example the I tested in Combine and Open Combine and got two different outputs.

`_ = Publishers.Sequence(sequence: [1,2,3,4,5,6])
        .map {
            print("map:" , $0);
            return  String($0)
        }
        .sink(receiveValue: {
            print("sink: " , $0)
        })`

Expected output based on Combine import:

map: 1
map: 2
map: 3
map: 4
map: 5
map: 6
sink

[2019-10-02 09:27] broadwaylamb commented on #68
Thank you! I’ll fix it right away

[2019-10-02 09:33] broadwaylamb commented on #68
Looks like this has already been fixed in the master branch by #62. Can you please verify your test case against the master branch?

[2019-10-02 10:44] abeazam commented on #68
tested and RESOLVED!!!!!! great thanks

[2019-10-02 10:47] #68 closed

[2019-10-12 16:11] raviTokopedia commented on #48
@broadwaylamb is anyone working on this? I'd like to pick this up.

[2019-10-12 16:12] Ravi61 commented on #48
@broadwaylamb is anyone working on this? I'd like to pick this up.

[2019-10-12 19:28] broadwaylamb commented on #48
@Ravi61 feel free! That would be awesome.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-15 08:55] AlexisQapa opened #80 "Merging efforts"
Hi,

Thank you for tackling the combine requirements issue. I believe this will help a lot but will require a lot of contributions.

There is another port being build at https://github.com/cx-org/CombineX.
Maybe you could merge yours efforts ? I'm opening the same issue on the other repo.

[2019-10-15 09:10] broadwaylamb commented on #80
Hi!

The author of CombineX has reached out before (see #4) and said that they would contribute to OpenCombine instead of developing their own project, but for some reason changed their mind.

In no way am I judging them, working on a project like this is indeed too much fun to be left for somebody else :)

I've looked at CombineX before and I can tell that there's a significant difference at how

[2019-10-15 09:10] #80 closed

[2019-10-15 09:14] AlexisQapa commented on #80
Good to know, sorry I missed the issue.

[2019-10-15 09:28] ddddxxx commented on #80
Corresponding issue: cx-org/CombineX#19

[2019-10-26 10:33] fotiDim opened #94 "Missing required module 'COpenCombineHelpers'"
The moment I do "import OpenCombine" I am getting this error `Missing required module 'COpenCombineHelpers'`. Is there something additional to be done?

[2019-10-26 10:37] broadwaylamb commented on #94
Hello! No, everything should just work.

What is your setup? Are you using the library as a Swift Package Manager dependency, and what version?

I'd really like to help you with this, so any details about how to reproduce the issue would be much appreciated!

[2019-10-26 10:48] fotiDim commented on #94
Yes Swift Package Manager. I tried 0.4 and 0.5. I got around the error by adding "OpenCombine" under "Frameworks and Libraries". However now I ran into the next error which is `Unknown attribute 'Published'` when I do `@Published private var searchText: String = ""`

[2019-10-26 10:55] broadwaylamb commented on #94
Oh, Published.

Published doesn't work yet, unfortunately. Believe it or not, I'm coding it right at this moment, so expect it to be ready in the next version.

The error you get, however, can probably by using `@OpenCombine.Published`. Why? Because Foundation re-exports `Published` from Combine, so there can be a name collision if both Foundation and OpenCombine are imported.

[2019-10-26 10:59] broadwaylamb commented on #94
Well, yes, that needs to be done. When you add a Swift package as a dependency, Xcode suggests you a list of the package targets with checkboxes. Activating those checkboxes basically adds the target to "Frameworks and Libraries":

<img width="851" alt="Screenshot 2019-10-26 at 13 58 24" src="https://user-images.githubusercontent.com/16309982/67618468-bd379f80-f7f8-11e9-917f-e76e878a1aee.png">

Oh

[2019-10-26 11:13] fotiDim commented on #94
I see. It is a good idea to put that in the Readme. I had no idea what OpenCombineDispatch is and if it was needed.

I see. Regarding iOS 13+ does the library fall back to Apple's Combine or still uses the OpenCombine implementation? Would something like that work?
[code]

[2019-10-26 11:20] broadwaylamb commented on #94
I'll definitely do. OpenCombineDispatch extends the `DispatchQueue` class and adds conformance to the `Scheduler` protocol. It is extracted into a different target because OpenCombine (just like Combine) doesn't depend on Dispatch, or Foundation, or anything like that. So if you don't need that conformance, you are free to exclude that target. But you probably do.

Frankly, I'm not sure it is poss

[2019-10-26 11:37] #94 closed

[2019-10-28 20:35] haemi commented on #48
is it possible to use SPM in an existing project with Cocoapods?

[2019-10-28 21:48] broadwaylamb commented on #48
@haemi I don’t see any reason for it not to be possible, but I haven’t tried though.

[2019-11-19 15:38] #42 closed

[2019-11-20 12:22] meccatol opened #101 "Try sink of CurrentValueSubject makes a crash with XCode 11.2.1."
First of all, thanks for your hard work for this open-source, OpenCombine.

I used OpenCombine for using Combine at below iOS 13 in our project.
We successfully released a new version that has many codes operated by OpenCombine. It released with XCode 11.1 and OpenCombine '0.5.0' ver.

And we're preparing a new version with XCode 11.2.1 this time.

However, 0.5.0 ver has an issue in this XCode ver

[2019-11-20 13:34] broadwaylamb commented on #101
Helli @meccatol!

Thank you for the bug report.

This looks like a Swift regression. I'm on it.

[2019-11-20 14:25] broadwaylamb commented on #101
Can you try setting `DEAD_CODE_STRIPPING = NO` in Xcode as a workaround? This fixed the issue for me.

<img width="730" alt="Screenshot 2019-11-20 at 17 24 41" src="https://user-images.githubusercontent.com/16309982/69246949-ab100d80-0bba-11ea-9aaa-72375691be87.png">

[2019-11-20 14:33] broadwaylamb commented on #101
Possibly related bug: https://bugs.swift.org/browse/SR-11564

Judging by the comments in JIRA, it broke a whole lot of projects. You are not alone.

People tell that the issue is fixed in Xcode 11.3 beta.

[2019-11-20 19:36] MaxDesiatov opened #102 "@Published property wrapper doesn't work"
I see in project's release notes that `@Published` doesn't work yet, which is confusing as it's available in the list of public module declarations. In addition, the property is not recognized even when `import OpenCombine` is present in the file. Would be great to know if there are some specific reasons for that, otherwise, just creating an issue to track this. Maybe someone could provide more in

[2019-11-20 19:44] broadwaylamb commented on #102
Hi!

Are you also importing Foundation? If yes, this is a known issue: Foundation re-exports Published:

[code]

This causes ambiguity, so you need to use `@OpenCombine.Published`.

I’m working on `Published` and `ObservableObject` in #97, and most of the work is done, expect it in the next minor update.

[2019-11-21 08:26] meccatol commented on #101
Thanks for fast-feedback!

I tested with ```DEAD_CODE_STRIPPING = NO```, it's not making a crash.

I hope it should be fixed in XCode 11.3 soon. :D

[2019-11-21 08:28] broadwaylamb commented on #101
You're welcome!

I'm gonna leave this issue open until this is fixed, so that if anyone encounters this problem too, they can easily find it.

[2019-11-22 12:24] MaxDesiatov opened #105 "Missing `Future` publisher"
I've tried to port [GRDBCombine](https://github.com/groue/GRDBCombine) to OpenCombine and it seems like the biggest missing piece there is a lack of the [`Future`](https://developer.apple.com/documentation/combine/future) publisher. Just adding it as a separate issue here for now to hopefully bump its priority on a possible OpenCombine roadmap 🙂

[2019-11-24 18:17] #48 closed

[2019-11-24 19:53] ohitsdaniel commented on #48
@gal-orlanczyk @reuvenlevitsky @Ravi61 @haemi
CocoaPods is now supported 🥳

[2019-11-25 23:15] #105 closed

[2019-11-26 03:23] royhsu commented on #105
@MaxDesiatov shouldn't Future defer `attemptToFulfill` until a subscriber calls `request(_:)`? I think Future type should be zero-cost abstraction since we don't know when library users will attach subscribers.

I have implemented my own version of Future type does that [here](https://github.com/royhsu/tiny-combine/blob/master/Sources/TinyCombine/Future.swift).

[2019-11-26 06:10] broadwaylamb commented on #105
@royhsu good point, I think `attemptToFulfill` is marked `@escaping` for a reason.

Also, I just realized that even when the future has resolved, we shouldn’t send the result downstream until it requests at least one element. This is what’s already happening, but we don’t have a test case that tests this behavior.

[2019-11-26 06:11] royhsu commented on #105
@broadwaylamb Yes, we should load data lazily as we can.

[2019-11-26 07:45] broadwaylamb commented on #105
I've just checked. This code:

[code]

unconditionally prints "called!" when using Combine. So it seems what @royhsu proposes is **not** how Combine handles it.

But it's totally worth adding a test. @MaxDesiatov can you do it?

To sum up, we need tests that:

- ensure `attemptToFulfill` is always called immediately;
- ensure that the value is not sent downstream even when the future has resolved,

[2019-11-26 08:41] royhsu commented on #105
I just posted the question to Swift Forum. Hope there is someone can explain why they decide to do that.

[Why does Future type need to call attempToFulfill immediately in Combine?](https://forums.swift.org/t/why-does-future-type-need-to-call-attemptofulfill-immediately-in-combine/31130)

[2019-11-26 08:47] MaxDesiatov commented on #105
This is a standard behaviour of most popular future libraries, e.g. [BrightFutures](https://github.com/Thomvis/BrightFutures) and [PromiseKit](https://github.com/mxcl/PromiseKit). The benefit is that you don't have to manually retain the future for it to execute, it will either execute immediately or will be retained by a queue it's currently scheduled on. And I do quite like the fact that Combine

[2019-11-26 08:50] royhsu commented on #105
@MaxDesiatov Cool, now I got it. Would you mind to reply the answer on the Forum too?

[2019-11-26 14:46] #102 closed

[2019-12-10 16:05] doronkatz opened #120 "Getting the error `Instance method 'store(in:)' requires the types 'OpenCombine.AnyCancellable' and 'Combine.AnyCancellable' be equivalent`"
Hi folks.

Just started using this library, and got the following error:
[code]
This is within the block:
[code]
Let me know if you need any additional information, code context etc.

Thanks!

[2019-12-10 16:12] broadwaylamb commented on #120
Hi!

The issue is that `RunLoop`'s conformance to the `Scheduler` protocol is not implemented yet (the `receive(on:)` method expects that its argument conforms to `Scheduler`).

You can import `OpenCombineDispatch` and use `.receive(on: DispatchQueue.main.ocombine)`. Note that due to how Swift works, invoking the `ocombine` property is _required_. Otherwise the compiler cannot determine which conf

[2019-12-11 04:59] doronkatz commented on #120
Thanks. Works like a charm. Good to know as well.

[2019-12-11 09:02] #120 closed

[2019-12-11 09:18] broadwaylamb commented on #101
Xcode 11.3 has been released, the issue is fixed.

[2019-12-11 09:18] #101 closed

[2019-12-11 17:35] doronkatz opened #124 "URLSession.dataTaskPublisher for OpenCombine?"
Hi there

So I am on the home stretch, but I have a few issues. Firstly:
I am getting
[code]

Is there an OpenCombine equivalent to use `dataTaskPublisher`?

Secondly, I am also getting:
[code]
Is this also functional in OpenCombine?

Thanks once again 🙏🏻

[2019-12-11 18:03] MaxDesiatov commented on #124
Hi @doronkatz, none of `Foundation` extensions that Combine provides are in OpenCombine yet. As for the second error, it seems like a type inference issue, most probably caused by `dataTaskPublisher` not available in current scope, thus the compiler is not able to figure out in which namespace `.tryMap` is invoked.

[2019-12-11 18:57] doronkatz commented on #124
Oh thanks @MaxDesiatov. I see... Yeah may have to wait or help contribute to get that across.. As for the second issue, it only happens on Unix and not on iOS/macOS. So that's why i wasn't sure about the context..

[2019-12-11 19:37] broadwaylamb commented on #124
@doronkatz hi! I’ll get to URLSession as soon as #84 is ready, since it lays the groundwork for supporting Foundation extensions.

It should be pretty soon!

[2019-12-11 19:52] doronkatz commented on #124
Awesome excellent work :)

[2019-12-11 20:51] MaxDesiatov opened #125 "OpenCombine organization?"
I'm currently maintaining a few forks of open-source libraries that make those compatible with OpenCombine: [GRDBOpenCombine](https://github.com/MaxDesiatov/GRDBOpenCombine) and its dependency [OpenCombineExpectations](https://github.com/MaxDesiatov/OpenCombineExpectations). I'd appreciate any input and contributions to these forks, and maybe some coordinated effort to push a more sane support for

[2019-12-11 22:00] broadwaylamb commented on #125
Good idea! Yep, I created that organization exactly for this purpose.

[2019-12-13 13:44] #124 closed

[2019-12-13 13:46] broadwaylamb commented on #124
The functionality is available in master.

Note that on Darwin platforms, you'll need to use the `ocombine` property to disambiguate (since Foundation extends `URLSession` with a method with the same name):

[code]

On Linux, you can omit this.

[2019-12-13 23:03] doronkatz commented on #124
Thanks @broadwaylamb. Silly question but how do you test if its linux? I was looking at `#if canImport(Combine) ....` but don't think that works for this

[2019-12-13 23:21] broadwaylamb commented on #124
We don’t need to test if it’s Linux. The ambiguity takes place only if Combine is present on your platform, so `#if canImport(Combine)` should be enough.

[2019-12-13 23:26] doronkatz commented on #124
Right, so when i run it on my macOS it works fine, but when i build it in Docker Unix:
[code]

My code changes are:
[code]

[2019-12-13 23:27] MaxDesiatov commented on #124
Did you build from latest `master` and added `import OpenCombine` to `APIService.swift`?

[2019-12-13 23:28] MaxDesiatov commented on #124
Probably requires `import OpenCombineFoundation` as well.

[2019-12-13 23:33] doronkatz commented on #124
I didn't try the last one, but it can't find `OpenCombineFoundation`. I have the latest (master) and have imported `OpenCombine`.

My package:
[code]

[2019-12-13 23:36] MaxDesiatov commented on #124
Thanks for reporting this, I've created #124, which should fix this.

[2019-12-13 23:37] doronkatz commented on #124
Thanks I’ll track that

This email and any attachments are confidential and may be subject to copyright, legal or some other professional privilege.
They are intended solely for the attention and use of the named addressee(s). They may only be copied, distributed or
disclosed with the consent of the copyright owner. If you have received this email by mistake or by breach of the confidentiality
cla

[2019-12-14 00:12] broadwaylamb commented on #124
You don’t have to write this condition. `ocombine` is available on Linux too. Basically, if you want to use OpenCombine on Linux, and leverage Combine on macOS, you use `self.urlSession.dataTaskPublisher(for: request)`. If you want to just use OpenCombine everywhere, use `self.urlSession.ocombine.dataTaskPublisher(for: request)`.

[2019-12-14 01:40] doronkatz commented on #124
@broadwaylamb so if I use just `urlSession.dataTaskPublisher...` I get on Unix:
[code]

So not sure if it is the case pr i am doing something else... I do want to use OCombine for Unix and Combine for Darwin ideally

[2019-12-14 02:27] broadwaylamb commented on #124
Are you also importing the OpenCombineFoundation module? Because it is required in order to use URLSession extensions.

[2019-12-14 02:30] doronkatz commented on #124
Yeah so that part I think there is a fix for (another issue) right, as it didn’t allow me to (from previous comments).

[2019-12-14 02:32] broadwaylamb commented on #124
Yes, if you upgrade to the latest master and import OpenCombineFoundation, everything should work.

[2019-12-14 02:50] doronkatz commented on #124
Thanks @broadwaylamb  I think I had a cache issue. I re-did the imports and added the targets and it works now perfectly... `OpenCombineFoundation` is my savior across both platforms.

Thanks!

[2019-12-18 23:06] mc7h opened #134 "Carthage support"
For and my team lack of support for Carthage dependency manager is a real barrier to adoption.

It would be great if OpenCombine [supported it ](https://github.com/Carthage/Carthage#supporting-carthage-for-your-framework).

[2019-12-18 23:08] broadwaylamb commented on #134
Out of curiosity, why is Swift Package Manager not something you can consider?

[2019-12-18 23:17] mc7h commented on #134
We are considering it. However, the size and arrangement of the project is such that it's not feasible in the short or medium term. We depend on a number of internal, external (transitive and direct) libraries that do not support SPM. Our toolchain, build system and caching is heavily intertwined with Carthage also.

[2020-01-06 03:09] doronkatz opened #141 "Missing .merge and .throttle"
Hi folks,

So I have the following:
[code]
I am getting two errors:

[code]

and,
[code]

Not sure where `ocombine` should reside to resolve that, if that is the fix.

Thanks

[2020-01-06 11:00] broadwaylamb commented on #141
Hi!

The reason is that `merge` and `throttle` are not implemented yet. `merge` is being worked on in #72.

[2020-01-06 20:44] doronkatz commented on #141
Got it thanks

[2020-03-02 23:00] zdnk commented on #1
Any ETA on `combineLatest`, `merge`, `zip` and `catch` (or v1) as those are super essential for OpenCombine to be usable instead of RxSwift?

[2020-03-03 07:44] broadwaylamb commented on #1
@zdnk I’m quite busy with my job right now, so I didn’t have time to finish them. I can’t give you any estimation, but I’ll do my best to complete them before summer. Thank you for you interest.

[2020-03-03 08:40] MaxDesiatov commented on #1
I would be happy to help to move this forward and hope I can complete some of these operators myself, those few listed are essential to my use as well. #109 with `zip` with full test coverage is ready for review, so maybe @broadwaylamb you could do just a review of it in the meantime?

[2020-03-23 13:01] SpectralDragon opened #149 "Missed Publishers.ZIP"
Apple documentation: https://developer.apple.com/documentation/combine/publishers/zip

[2020-03-23 13:02] broadwaylamb commented on #149
This is a work in progress: #109

[2020-03-23 13:02] #149 closed

[2020-03-23 13:16] SpectralDragon commented on #149
Sorry, I not noticed.

[2020-04-07 12:53] andybest commented on #141
Hi, I wondered if there has been any progress made on this?

Thanks :)

[2020-04-07 13:02] broadwaylamb commented on #141
Hi. Nope, I’ve been really busy lately.

[2020-04-11 03:55] vukrado opened #152 "Combine documentation states that the Subscription protocol is class constrained"
Im not sure if this is an issue in Apples documentation or implementation but according to the [documentation](https://developer.apple.com/documentation/combine/subscription) it says "Subscriptions are class constrained because a Subscription has identity, defined by the moment in time a particular subscriber attached to a publisher." But according to the implementation it is not class constrained

[2020-04-11 09:46] broadwaylamb commented on #152
Yeah, well, much of the documentation on Combine is misleading or just wrong. Like with [multicast](https://developer.apple.com/documentation/combine/publisher/3204733-multicast), where it says:

`Subscription` is not class-constrained in Combine as well.

[2020-04-11 09:46] #152 closed

[2020-04-20 20:40] mayoff opened #153 "consider adapting Apple's implementations of Foundation and Dispatch publishers"
Apple's implementations of the Foundation and Dispatch publishers and schedulers are part of the Swift open-source project. Have you considered adapting those implementations for OpenCombine?

Here are the files of interest:

- [`Publishers+KeyValueObserving.swift`](https://github.com/apple/swift/blob/master/stdlib/public/Darwin/Foundation/Publishers%2BKeyValueObserving.swift)
- [`Publishers+Locki

[2020-04-20 20:41] broadwaylamb commented on #153
Nice! I'll do it.

[2020-05-04 00:43] jasdev opened #154 "[Question] Reason behind Publisher.makeConnectable’s Failure constraint"
Not an “issue” per se but, a question (also [mirrored on the Swift forums](https://forums.swift.org/t/getting-an-intuition-around-publisher-makeconnectable/36055)). Do you know why Combine fences off `Publisher.makeConnectable` for when `Failure == Never`? Seems like the project still compiles without it, so I’m having trouble building an intuition for why it’s needed.

https://github.com/broadway

[2020-05-04 00:48] broadwaylamb commented on #154
Hi!

Nope, I don’t know why this decision was made, and I find it weird too.

[2020-05-04 00:49] jasdev commented on #154
Phew, glad I wasn’t the only one who scratched my head at this. 😄 Cheers!

[2020-05-04 00:49] #154 closed

[2020-05-06 06:18] c0diq commented on #134
Also it is not possible at the moment to link a SPM package as dynamic framework. Carthage does allow it and would permit to dynamically load OpenCombine at runtime when running below iOS 13.

[2020-05-06 06:21] c0diq opened #155 "Still maintained?"
Is this great repo still maintained? I see a bunch of PRs with missing operators that have not been merged for a long time...

[2020-05-06 07:34] MaxDesiatov commented on #155
Hey @c0diq, the repo is maintained (to some degree 🙂). The PRs are unmerged as they're unfinished.

[2020-05-25 17:14] #155 closed

[2020-06-02 19:53] glessard opened #157 "Result.Inner crash with multiple threads"
This might be an example of holding it wrong, but it's a multi-threading crash.
[code]

The `downstream` variable should be protected on read and write.

[2020-06-02 20:05] broadwaylamb commented on #157
Could you please describe what’s happening exactly? Where does the crash occur?

[2020-06-02 20:06] glessard commented on #157
Sorry I don't know what happened earlier, it seemingly auto-posted before I typed anything!

[2020-06-02 20:31] glessard commented on #157
To be fair, Apple's version crashes in seemingly the same way. Both fail the contract in that `cancel()` isn't thread-safe.

[2020-06-02 20:31] glessard commented on #157
FWIW, this fixes it:
[code]

[2020-06-02 20:39] broadwaylamb commented on #157
If Apple’s Combine behaves in the same way, then I guess it’s not a bug in OpenCombine. I would suggest you to file a radar. If Apple fixes it, so will we.

Thank you for taking the time!

[2020-06-02 20:39] #157 closed

[2020-06-02 20:53] glessard commented on #157
Fair enough. I have filed a bug report there as well.
The "audited for thread safety" comment should be removed from line 126, however.

[2020-06-10 06:41] nidegen opened #160 "Question: Synthetize ObjectWillChange for @Published"
Does OpenCombine manage automatic @Published linking to ObservableObject?

I tried to find any hints in the code, but there seem not to be any explicit code.

For Combine, they use something as described in this thread:
https://twitter.com/luka_bernardi/status/1155944329363349504?s=20

[2020-06-10 06:45] nidegen commented on #160
ah, found some talk on #97. Seems like an unsolved issue then?

[2020-06-10 06:49] nidegen commented on #160
Would there be a way to add `subscript<EnclosingSelf: ObservableObject>` only for ObservableObjects? A conditional extension on Published where EnclosingSelf conforms to ObservableObject? Guess that is impossible now

[2020-06-12 10:03] MaxDesiatov opened #162 "0.9.0 release"
It looks like enough good changes have accumulated since 0.8.0, @broadwaylamb would you mind tagging a new release? Or if this process is automated, would you mind sharing it, and I can do it myself if I may?

[2020-06-12 10:15] broadwaylamb commented on #162
You are right.

The process is not automated, but I think it would be good to document it.

I'm going to tag a new release today and describe the process in the docs.

[2020-06-12 20:54] #162 closed

[2020-06-22 22:45] broadwaylamb opened #166 "Make OpenCombine compatible with the latest SDKs in Xcode 12"
There are some new APIs in the new version of Combine, also the documentation has been improved.

Although it is tempting to start patching OpenCombine right away, I would prefer to wait until later Xcode betas, or even the GM build. My experience shows that a lot can change between betas (behavior changes back and forth, APIs are added, bugs are fixed etc etc), so waiting for things to stabilize

[2020-06-24 14:44] broadwaylamb opened #168 "Re-enable OperationQueue tests on non-Darwin platforms"
Right now the OperationQueue tests are disabled on non-Darwin platforms because of a bug in swift-corelibs-foundation. This bug has been fixed in apple/swift-corelibs-foundation#2779, but the fix hasn't yet made it into an official release.

Creating an issue to track this so I don't forget to address it in the future.

[2020-06-24 14:56] broadwaylamb opened #169 "Re-enable URLSession tests on non-Darwin platforms"
Right now the URLSession tests are disabled on non-Darwin platforms because of an incompatiblity between swift-corelibs-foundation and Darwin Foundation. This has been fixed in apple/swift-corelibs-foundation#2587, but the fix hasn't yet made it into an official release.

Creating an issue to track this so I don't forget to address it in the future.

[2020-06-26 11:34] armintelker commented on #134
I would love to see this feature :)

[2020-06-26 13:05] broadwaylamb commented on #125
@MaxDesiatov do you want me to do anything regarding this issue?

[2020-06-26 13:07] MaxDesiatov commented on #125
I was just wondering whether you have any plans with regards to the organization, are you going to transfer the repository to it?

[2020-06-26 13:09] broadwaylamb commented on #125
I guess I am.

[2020-06-26 13:18] MaxDesiatov commented on #125
Awesome!

[2020-06-26 13:18] #125 closed

[2020-06-26 13:52] broadwaylamb commented on #125
Huh. CircleCI has stopped working because of the transfer. I've contacted their support, let's wait what they say.

[2020-06-26 13:54] MaxDesiatov commented on #125
Yeah, I had a similar issue with Codecov when I was transferring my repos to an org, the repo never showed up there under the new org, so I couldn't get a new Codecov token. The only thing that helped me with Codecov was logging out, clearing all cokies and logging in again. Not sure if it's the same thing with Circle CI though.

[2020-06-26 13:55] broadwaylamb commented on #125
The thing with CircleCI is that I've been using a free plan for macOS builds, which can only be obtained by writing to their support. The Linux builds are fine.

[2020-06-26 13:59] MaxDesiatov commented on #125
GitHub Actions supports Xcode 10.3 on macOS, so just in case CircleCI is not fixed, I hope you would consider GHA. GHA also seems much faster as it allows some parallelism for open-source repositories.

[2020-06-26 14:01] broadwaylamb commented on #125
AFAICT GitHub Actions only support macOS Catalina. For testing on iOS 9.3 (and 32 bits) we have to use macOS Mojave, because on Catalina Xcode doesn't allow us to download iOS simulators that old.

I'd be happy to use GHA, but I'm not ready to give that up.

[2020-06-26 14:03] MaxDesiatov commented on #125
Mojave is also supported on Azure Pipelines, just in case.

[2020-06-26 14:32] broadwaylamb commented on #125
The CI’s up and running again, folks at CircleCI were very helpful.

[2020-07-27 13:55] abuttlemur opened #174 "OpenCombine Debounce is not interchangeable with Combine Debounce"
Given the following example class:

[code]

The above code will compile if "Combine" is imported, if instead we replace the imports with:

[code]

We receive the following errors:

[code]

Removing the debounce line compiles using either Combine or OpenCombine.

Installed via Cocoapods:

[code]

[2020-07-27 14:01] broadwaylamb commented on #174
Hi!

Try this:

[code]

[This is a language restriction that we're unable to work around in OpenCombine](https://bugs.swift.org/browse/SR-11183).

[2020-07-27 14:07] abuttlemur commented on #174
That works! Sorry I missed that.  Is there any active community/chat for OpenCombine at the moment that I could pose such issues before opening an issue? The Slack linked from the README doesn't seem to exist anymore.

[2020-07-27 14:07] #174 closed

[2020-07-27 14:09] broadwaylamb commented on #174
The Slack channel still exists, it's the invite link that doesn't work. However, the Slack channel is inactive, so I'm thinking about deleting it.

I think it's OK to just open an issue if you have questions.

[2020-07-27 14:14] broadwaylamb commented on #174
P. S.:

If you plan to transition from OpenCombine to Combine sometime, this little snippet will probably make it less painful:

[code]

This way, if you remove the OpenCombine dependency, your code will continue to work with Combine with no change. The deprecation warnings will help you clean it up.

[2020-08-24 15:06] Atimca opened #182 "Making testing helpers public"
Hello 👋

Due to lack of the testing SDK such in `RxSwift` with there `RxTesting` and `RxBlocking` for `Combine` or `Open Combine`. Would be great if you can put your testing stuff for public usage. After my short research, I've realized that `TrackingSubscriber` and friends could be a great replacement of `RxBlocking`.

[2020-08-24 15:56] MaxDesiatov commented on #182
I concur, making these public would be great, what do you think @broadwaylamb?

[2020-08-31 11:27] broadwaylamb commented on #182
I haven't put much effort into those APIs, they're very specific to our test suite. Making them more general will require some polishing that I'm afraid I don't have time for. Also, I sometimes have to change them in an incompatible way. Making them public would be additional headache for me, since I'd have to think about what changes are potentially breaking.

If you want, you can just copy and p

[2020-08-31 11:27] #182 closed

[2020-09-06 08:59] atimca commented on #182
All right. I've migrated library Entwine to OpenCombine if someone wants to test their code not only with expectations.

https://github.com/Atimca/OpenEntwine

[2020-09-14 18:06] xanderdunn opened #183 "Linux Build Broken on Swift 5.3+: kCFStringEncodingUTF8 not in scope"
Added to Package.swift:
[code]

On macOS 10.15.6 using Swift for Tensorflow v0.11 I am able to build successfully:
[code]

However, on Ubuntu 18.04 using Swift for Tensorflow v0.10 I am unable to build successfully:
[code]
Swift for Tensorflow is based on the official dev branch.

I also tried building on the latest official 5.3 release branch on Ubuntu 18.04, still same error:
[code]

However, I

[2020-09-14 18:10] broadwaylamb commented on #183
Hello!

Could you please try building from the master branch?

[code]

The issue should have been fixed in #173.

[2020-09-14 18:21] xanderdunn commented on #183
Oh yeah, that resolves it, thanks! Should've thought to try off master.

I searched the issues for `kCFStringEncodingUTF8` and didn't see anything, but I didn't search the pull requests!

[2020-09-14 18:21] #183 closed

[2020-09-18 10:48] albertopeam opened #184 "Can not import @Published directly"
I am not able to use directly `@Published`, instead I had to use `@OpenCombine.Published`. Is there any way to make it work?
I have pushed a demo to a [repository](https://github.com/albertopeam/swift/blob/master/OpenCombineUsage/OpenCombineUsage/AppDelegate.swift)
PD: iOS11 target

Great work with the open source library. Thanks :)

[2020-09-18 10:59] broadwaylamb commented on #184
The only way to make it work is to add the following line to your code:

[code]

This type alias will shadow all the types named `Published` defined in other modules.

This is a language limitation, so, unfortunately, we can't fix it in OpenCombine.

[2020-09-18 11:29] #184 closed

[2020-10-21 15:16] stuaustin opened #186 "Crash when deallocating a manually connected multicast before the Cancellable"
## What did you do?

Deallocated a manually connected multicast subject, before the `Cancellable` is released.

## What did you expect to happen?

The deallocation to be handled cleanly.

## What happened instead?

The running Application crashes with an `EXC_BAD_INSTRUCTION` due to an `UnfairLock` being recursively entered within `SubjectSubscriber.swift`.

## Environment

**OpenCombine version:*

[2020-10-23 10:48] #186 closed

[2020-10-25 08:25] manmal opened #189 "Integration with CombineProperty - any interest?"
Hey, I'm the author of [CombineProperty](https://github.com/manmal/CombineProperty), an implementation of [ReactiveSwift-style Properties](https://github.com/ReactiveCocoa/ReactiveSwift/blob/master/Sources/Property.swift) for Combine. It's still early days, but my tests so far have shown that the concept works.

Is there any interest in integrating this into OpenCombine, either directly built in,

[2020-10-29 11:04] manmal commented on #189
In the meantime I found https://github.com/CombineCommunity/CombineExt which is probably a better fit. If there’s interest I‘m still happy to create a PR, but will close this issue for now.

[2020-10-29 11:04] #189 closed

[2020-10-29 16:49] #168 closed

[2020-10-29 16:49] #169 closed

[2020-10-29 19:06] #166 closed

[2020-10-29 19:10] broadwaylamb commented on #153
The implementations of all those entities are in the main branch. They're based on Apple's, but tweaked to work with the platforms and language versions that we support.

The only exception is `Publishers+KeyValueObserving.swift`. There are certain issues with it. If anyone feels they should be prioritized, please create a new issue.

[2020-10-29 19:10] #153 closed

[2020-11-02 15:21] albertopeam opened #192 "Build failing on iOS14"
Hi, I am trying to compile on iOS14 but it is failing.

`testAssignToPublished` is using [assign(to: Publisher)](https://developer.apple.com/documentation/combine/publisher/assign(to:)) and the test case is wrapped with `@available(macOS 10.15, iOS 13.0, *)`, so when trying to make it compile it returns an error `'assign(to:)' is only available in iOS 14.0 or newer`. If we update the test case to

[2020-11-02 15:57] broadwaylamb commented on #192
Hi.

Could you please describe your setup in more details? Starting from cloning OpenCombine, what are the steps that lead to the issue?

[2020-11-03 08:32] albertopeam commented on #192
Hi

Steps to reproduce:

1. Clone
2. Open in XCode12.1
3. Select `OpenCombine-Package` scheme
4. Add flag to test with Combine `.unsafeFlags(["-DOPENCOMBINE_COMPATIBILITY_TEST"])`in OpenCombineTests testTarget
[code]
5. Run tests for iOS14.1, it results in 11 errors in test target.
6. ie: `testAssignToPublished` is failing due to `'assign(to:)' is only available in iOS 14.0 or newer`

Could you ta

[2020-11-03 14:21] #192 closed

[2020-11-03 14:25] broadwaylamb commented on #192
Just FYI: you don't have to edit `Package.swift`. If you want to run compatibility tests on iOS, you can just run `make generate-compatibility-xcodeproj`. This will generate and open an Xcode project with the `OPENCOMBINE_COMPATIBILITY_TEST` flag set. After that you can just run the tests from Xcode.

Thanks for reporting the issue!

[2020-11-03 14:54] albertopeam commented on #192
Thanks and apologies for creating issues with this kind of stuff.

I will take a look to `make generate-compatibility-xcodeproj`

[2020-11-17 13:05] maximkrouk commented on #141
Hi, I also wondered if there has been any progress made on this?

I'd like to implement [ComposableArchitecture](https://github.com/MakeupStudio/opencombine-composable-architecture) using OpenCombine, but is probably impossible without merge publishers 🙂

Thanks :)

[2020-11-17 13:23] broadwaylamb commented on #141
Nope, no progress. I hope I'll find some time in the coming months, but no promises.

[2020-12-03 22:18] uberbruns opened #198 "OpenCombine/Combine discrepancy: Old values received by nested subscribers of @Published"
Consider the following code:

[code]

When importing Apple's Combine the output for the _nested_ `print` is `1`. When importing OpenCombine the received value is `0`.

Kind regards

Karsten

[2020-12-03 22:49] broadwaylamb commented on #198
Can I ask you on which OS version you're running it against Combine?

[2020-12-03 22:55] broadwaylamb commented on #198
I've just run your test on iOS 14.2 (the newest one), the behavior is the same with both Combine implementations. Printing 0 makes more sense, since `Published` publishes values **before** they're actually set. I assume it was just a bug in Combine that has been fixed in more recent versions.

Nonetheless, thank you for the time you've spent for creating the test case and reporting this.

[2020-12-03 22:55] #198 closed

[2020-12-04 08:30] uberbruns commented on #198
Its 10.15.7 Catalina … I'll see if I can reproduce it on other Versions.

[2020-12-04 08:36] uberbruns commented on #198
You're right. Behaviour of Apples Combines is different here between OS Versions:

<img width="2092" alt="image" src="https://user-images.githubusercontent.com/981579/101141174-34528080-3614-11eb-9dc1-4432caf4d55e.png">

[2020-12-13 19:43] bofeizhu opened #200 "Question: Shouldn't AnyCallable store(in:) be thread safe?"
What if `store(in:)` were called from multiple threads? Wouldn't that break the current implementation?

[2021-02-03 20:32] ManaliM27 opened #203 "Missing Zip in OpenCombine"
Is it possible to zip 2 publishers similar to combine

[2021-02-13 13:41] sbertix opened #205 "`OpenCombine.Publisher` to `Combine.Publisher`"
Hey 👋,

Is there any way to turn an `OpenCombine.Publisher` into a `Combine.Publisher` "by default"?

I couldn't find it in the library and, although I realize it would not fit in the whole "1-to-1" porting vision for **OpenCombine**, and a custom implementation is trivial tbh, I feel like it might be a nice addition.

[2021-02-13 15:32] MaxDesiatov commented on #205
What's the use case for this? On platforms where Combine is available one would rather use that instead of OpenCombine, and then there's no need to bridge them to each other.

[2021-02-13 16:03] sbertix commented on #205
tldr: I feel like it would make the library much more viable when writing libraries/packages, in its own right, not just as a **Combine** "bridge".

Right now **OpenCombine** makes sense if your project needs to be available on Linux or if you're supporting pre-**Combine** platform versions DIRECTLY on it.
If you're writing an external library (wrt the end project), it doesn't make things better,

[2021-02-22 18:06] MaxDesiatov commented on #203
Not until https://github.com/OpenCombine/OpenCombine/pull/109 is merged. Closing this as a duplicate of https://github.com/OpenCombine/OpenCombine/issues/1, this is where we track our progress for all of the operators.

[2021-02-22 18:06] #203 closed

[2021-03-01 04:20] ddddxxx commented on #205
So eventually OpenCombine falling down the rabbit hole...

@sbertix This may help you: https://forums.swift.org/t/combine-backward-deployment-and-linux/37855
and this, if you would like to implement a OpenCombine bridge: https://github.com/cx-org/CXBridge

@MaxDesiatov Do you consider adding `OpenCombineShim`, just like `CXShim` but default to OpenCombine? I personally don't use OpenCombine but I

[2021-03-01 09:20] sbertix commented on #205
I'm not really relying on alternative implementations of **Combine**, I was just tinkering a bit and got "frustrated" with all the missed opportunities.

I just wish I had found this sooner, as it's exactly what I intended to say, just written properly hahaha 💪

Thanks @ddddxxx

[2021-03-11 16:22] #205 closed

[2021-03-11 16:38] maximkrouk commented on #141
Btw it is implemented in CombineX, maybe this may help
[Merge](https://github.com/cx-org/CombineX/blob/43037a7ae90e8aa022e478706b854d9a7cea5a70/Sources/CombineX/Publishers/B/Merge.swift)
[MergeMany](https://github.com/cx-org/CombineX/blob/43037a7ae90e8aa022e478706b854d9a7cea5a70/Sources/CombineX/Publishers/B/Combined/Merge%2B.swift)

[2021-03-11 16:51] broadwaylamb commented on #141
Unfortunately, the implementation is not that easy, there are many corner cases. I am pretty certain that the one that you refer to doesn’t handle them all, and is not tested very well.

[2021-06-20 15:20] maximkrouk commented on #200
I think it shouldn't, most of the time you don't need it so synchronization should be implemented only for specific cases as needed...

[2021-06-20 15:23] broadwaylamb commented on #200
Since the argument passed in this method is `inout`, the language prevents you from calling it simultaneously from multiple threads by crashing. See https://swift.org/blog/swift-5-exclusivity/.

[2021-06-20 15:23] #200 closed

[2021-06-20 15:24] maximkrouk commented on #141
Any updates? 🙂

[2021-06-20 15:27] broadwaylamb commented on #141
Nope. Doing my best, sorry.

[2021-06-20 15:31] maximkrouk commented on #200
@bofeizhu you may use something like that
[code]

[code]

[2021-06-30 04:16] ArthurChi opened #208 "Should change unfair lock to unfair recursive lock in Sink?"
when AnyCancellable calls cancel function automatically in DEINIT, Sink's cancel function will be called, then terminateAndConsumeLock will be called. As the result, the receiveValue block and receiveCompletion block will be set to nil. Then objects in receiveValue block or receiveCompletion block may be destroyed. If there is an object that in block, it will call same sink's receive completion to

[2021-06-30 11:02] broadwaylamb commented on #208
Do you have a code snippet that triggers the crash?

[2021-07-08 09:16] James-Chi-Jie commented on #208
https://github.com/ArthurChi/OpenCombineDemo

[2021-07-08 21:58] broadwaylamb commented on #208
@ArthurChi thank you for taking the time to report this bug! I've fixed it and will prepare a new release shortly.

[2021-07-09 13:27] James-Chi-Jie commented on #208
I notice the MR's checks of this bug is failed, I submitted a MR to this branch to fix it

[2021-07-13 14:35] James-Chi-Jie commented on #208
@broadwaylamb Could you please release a new version this week?

[2021-07-15 08:41] Degtyarserg commented on #141
Hi, I wondered if there has been any progress made on this?

Thanks 😉

[2021-07-15 09:12] MaxDesiatov commented on #141
No updates on this, but all contributions that help us in the implementation are very welcome.

[2021-07-23 19:35] guidedways opened #213 "Won't compile for iOS in Xcode 13 Beta 3"
I see the following:

[code]

Next to:

`#if !canImport(Combine)`

in `Optional.Publisher` with a dozen other similar errors.

[2021-07-28 09:52] ibrahimkteish opened #214 "Question: the `*` in DispatchQueue scheduler's SchedulerTimeType"
Hello,

the `SchedulerTimeType` of `DispatchQueue` has a `Stride` struct, I was wondering why the implementation of [this](https://github.com/OpenCombine/OpenCombine/blob/29126ac259ec115efc34ec486f19f213140e4a4a/Sources/OpenCombineDispatch/DispatchQueue%2BScheduler.swift#L211) returns `Stride(magnitude: 0)` not something like `return Stride(.nanoseconds(lhs.magnitude * rhs.magnitude))`

lets say f

[2021-07-28 20:42] broadwaylamb commented on #214
On which OS version are you seeing this?

[2021-07-28 20:44] broadwaylamb commented on #213
Hi. I haven't yet tested OpenCombine with the newest Xcode betas, but I will certainly do it before Xcode 13 is officially released.

[2021-07-28 22:48] #208 closed

[2021-07-29 09:27] ibrahimkteish commented on #214
iPhone 11 Pro iOS 14.6

Btw, if I use the same code on iPhone 8 iOS 13.1.1 the I get a crash
<img width="1427" alt="Screenshot 2021-07-29 at 11 25 28" src="https://user-images.githubusercontent.com/2681868/127467458-4282ff8f-fdab-4b42-af60-9ead61e6a754.png">

also the code works on playground

Xcode Version 12.5.1 (12E507)

[2021-07-29 13:51] wangjiejacques opened #215 "Ready for production?"
Hi, what's the status of this framework, is it stable enough for production usage?

[2021-08-03 13:52] broadwaylamb commented on #215
Some companies do use it in production.
It is pretty stable and the test coverage is extensive.

[2021-08-03 13:56] maximkrouk commented on #215
It missing some functionality, but I think it's one of the most tested frameworks I've seen, I'm not sure that even the original Combine is tested that well, so if you don't need it's missing parts, I believe OpenCombine is currently the best FRP framework available 😎

[2021-08-03 20:12] wangjiejacques commented on #215
Good to know, thanks.

[2021-08-03 20:12] #215 closed

[2021-08-13 12:54] matteogazzato opened #217 "[Consideration] Bridge from OpenCombine to Combine publishers"
Hi guys,

I know there was already somebody talking about a "interoperability" between OpenCombine and Combine ([here](https://github.com/OpenCombine/OpenCombine/issues/205) the issue) and possibly would be out of scope but here there is my situation and I would understand if the solution I'm thinking can be implementable:
I currently have an SDK written using OpenCombine, the project, which is in

[2021-08-13 22:54] maximkrouk commented on #217
I implemented a prototype this evening, maybe I'll make a draft PR tomorrow after cleaning up the codebase (_or maybe @broadwaylamb may create a separate repo for the bridge if needed_)

[2021-08-17 08:07] matteogazzato commented on #217
Thanks @maximkrouk for your support, I tried to achieve my goal creating a draft custom `Publisher` and `Subscription`.
Here there my implementation

[code]

Of course, this is only linked to publisher.
Your implementation would be a complete bridge between OpenCombine - Combine and that's great!
I'm following the `combine-bridge` merge request.

Thanks again 🤙🏻

[2021-08-17 08:20] maximkrouk commented on #217
My implementation is more low-level and relies on Combine private API, so you can't be sure that it won't break, so depending on what does @broadwaylamb thinks about it it might be rewritten to something higher-level, like your suggestion, so thank u for sharing 🙂

[2021-08-17 08:22] maximkrouk commented on #217
My implementation is more low-level and relies on Combine private API, so you can't be sure that it won't break, so depending on what does @broadwaylamb think about it, it might be rewritten to something higher-level, like your suggestion, so thank u for sharing 🙂

[2021-08-18 12:53] ibrahimkteish commented on #214
@broadwaylamb any updates on this ?

[2021-10-08 06:20] bspinner opened #223 "Slack Invite is no longer valid"
hey, just wanted to point out that the slack invite link in the readme file is no longer valid :)

[2021-10-11 19:09] MaxDesiatov commented on #223
This should be fixed in #224

[2021-11-03 20:37] #223 closed

[2021-11-07 16:51] vi4m opened #225 "Doesn't compile on macOS Monterey / XCode 13"
Hi! Thanks for this great project! However, compilation on Monterey, with the `OpenCombine 0.12.0` dep. fails with the following error:

`/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX12.0.sdk/System/Library/Frameworks/Combine.framework/Modules/Combine.swiftmodule/x86_64-apple-macos.swiftinterface:1:1: error: failed to build module 'Combine' from its mod

[2021-11-07 19:16] MaxDesiatov commented on #225
Ugh, looks like there's no clear way to use Xcode 12 on Monterey, apparently? https://twitter.com/ethanhuang13/status/1442123371416731651

[2021-11-29 13:43] MaxDesiatov commented on #225
I think this is only reproducible when building with SwiftWasm 5.4 (and possibly 5.3). Should be fixed in SwiftWasm 5.5, please feel free to reopen if you're still seeing the issue after updating to SwiftWasm 5.5, or if SwiftWasm is not related to it.

[2021-11-29 13:43] #225 closed

[2021-12-24 15:08] #160 closed

[2021-12-24 16:37] maximkrouk commented on #160
Maybe a custom property will work?

[code]

[2022-01-20 21:58] amomchilov opened #227 "[Feature Request] Async Publisher.values"
Combine added a [`values` property](https://developer.apple.com/documentation/combine/publisher/values-1dm9r) (and a [throwing counterpart](https://developer.apple.com/documentation/combine/publisher/values-v7nz)) that lets you bridge from the world of Combine into async/await (on supported Swift version), and we don't have parity here.

Here's my attempt to implement this:

[code]

It's a little

[2022-01-20 22:24] broadwaylamb commented on #227
Hi!

Thanks. Although it should be already implemented on #219, it just needs tests.

[2022-01-31 18:29] broadwaylamb opened #229 "Support async tests on Wasm when swiftwasm supports them"
See https://github.com/OpenCombine/OpenCombine/issues/219#issuecomment-1026076064_

[2022-01-31 18:50] broadwaylamb opened #230 "Re-enable concurrency tests on Windows when Windows issues are fixed"
- With Swift 5.5.1 for Windows, async tests are not supported
- With Swift 5.5.2 for Windows, they are supported, but you can't run them: https://github.com/MaxDesiatov/swift-windows-action/issues/1

Someday this kind of stuff will just work.

But not today.

[2022-02-01 15:58] #227 closed

[2022-02-01 19:06] broadwaylamb commented on #134
As Carthage requires an Xcode project to be present in the repo, I don't think we'll support it in OpenCombine. Sorry.

Having an Xcode project in the repo that mainly targets Swift Package Manager is a maintenance burden, since you need to remember to synchronize the file structure between the repo and the Xcode project.

Besides, the feature for generating an Xcode project from the SPM manifest

[2022-02-01 19:06] #134 closed

[2022-04-02 03:22] JQHxx opened #232 "error"
![image](https://user-images.githubusercontent.com/16495357/161364006-668fc40c-d216-49ea-ab96-54b0538ca863.png)

[2022-04-02 10:25] broadwaylamb commented on #232
Hi. Thank you for the report. Which version of Xcode are you using?

[2022-04-06 00:44] JQHxx commented on #232
Xcode 13

[2022-04-06 11:14] MaxDesiatov commented on #232
@JQHxx could you be more specific please? Is this Xcode 13.0, or 13.2? What's the full version number together with minor and patch components?

[2022-04-07 00:52] JQHxx commented on #232
Xcode 13.0 Version 13.0 (13A233)
pod 'OpenCombine', '~> 0.13.0'

[2022-04-07 08:24] MaxDesiatov commented on #232
That's the reason for the error message. You'll have to use a version of Xcode that supports concurrency back-deployment when targeting iOS 14 or iOS 13, that is Xcode 13.2 or later. Latest version (which is 13.3 at the time of writing this) is recommended.

[2022-04-07 08:24] #232 closed

[2022-05-26 06:20] otaviocc commented on #1
Hi folks, what's the status of the last two operators, `combineLatest` and `merge`? Our product requires shipping to iOS and macOS that don't support Combine yet, and we're currently using OpenCombine. Is there anything we could do to finish the implementation and have these operators released?

Thank you.

cc: @broadwaylamb

[2022-05-26 06:55] MaxDesiatov commented on #1
The status is publicly visible in this issue and linked PRs. They are unfinished and all contributions are very welcome as usual.

[2022-06-02 16:02] dito010 opened #233 "[Bug]The Publishers.ReceiveOn may lead to subscriber never receive the published single when schedule is concurrent queue."
[code]

[2022-06-02 16:02] #233 closed

[2022-06-02 16:16] dito010 opened #234 "[Bug]The Publishers.ReceiveOn may lead to subscriber never receive the published signal when scheduler is concurrent queue."
For Future type publisher, it send signal then send completion to the Publishers.ReceiveOn.

In  Publishers.ReceiveOn:

for signal:
[code]

for completion:
[code]

but the scheduler may execute the completion command before signal, in this case, the `state.subscription` is nil then returned.

[code]

This result is not match expectations.

And the Apple's Combine has the same bug yet 😂.

We should

[2022-06-17 11:53] designerfuzzi commented on #217
same idea here, so +1.
the problem i am facing is `'ObservableObject' is ambiguous for type lookup in this context` in Xcode 11.3.1 which is the last Version that supports iOS 12 and below. In that particular setup `ObservableObject`exists in Beta Framework "Combine" but can't be used and linking with OpenCombine produces the above ambiguous relation. Apple's Combine is not linked in my project an

[2022-06-17 12:25] designerfuzzi commented on #217
uuh sometime one more cofé helps..
 i had to change
[code]
now taking on the missing **`@Publisher`** feature

[2022-06-17 12:43] maximkrouk commented on #217
Yep, the issue is not in the bridge, but in Combine&OpenCombine, you have to use Module prefix if both modules are imported, but afaik you won't have to use it if you import OpenCombineBridge and **one of** the Combine frameworks 🤔

OpenCombine is more like a replacement for the Combine, so in general it's not meant to be used with the Combine and names are kept the same 🙂

Sadly some features are

[2022-06-17 12:53] designerfuzzi commented on #217
that leaves me with a simple question.. how to take on code parts that make use of **`@Publisher`** feature..
"just" 8 properties that needs to be rewritten .. which i can wrap in precompiler directives to avoid clashing for builds later on. Sorry if that is a little distracting from [matteogazzato](https://github.com/matteogazzato)'s issue

Maybe a blunt thought into the dust .. when **`@Publishe

[2022-06-17 15:38] designerfuzzi opened #235 "would be nice to be able to use "@Published" directive in earlier Swift versions that do not know it"
while trying to implement `OpenCombine` to mimic missing `Combine` Framework in example in Xcode 11.3.1 projects where Swift does also not support **`@Published`** directive (nor **`@Bind`** , **`@StateObject`** or **`@ObservedObject`**) one could do something like..
[code]
to implement such feature in Swift version prior .. where **`@propertyWrapper`** directive is available.
So the question is w

[2022-06-17 15:54] broadwaylamb commented on #217
I think you can just do this:

[code]

This way you don't have to rewrite all your properties.

[2022-06-17 19:43] designerfuzzi commented on #217
nice one! thank you.  but i can not admit done yet.
I linked all 4 OpenCombine libs, doesnt hurt yet, also `import OpenCombine` & `import OpenCombineDispatch`
them in code. Outcommented my own propertywrapper, and used your suggestion ^^but! instead i had to write
`typealias Published = OpenCombine.Published` and voila ! seems to make it work.  One step further.

Now thinking.. same has to be done

[2022-06-17 20:38] broadwaylamb commented on #217
Instead of `DispatchQueue.main` use `DispatchQueue.main.ocombine`.

[2022-06-17 21:53] designerfuzzi commented on #217
compile success. Resume..
[code]
made it work. Thank you very much

[2022-06-17 23:50] designerfuzzi commented on #235
fixed. see: https://github.com/OpenCombine/OpenCombine/issues/217#issuecomment-1159253820

[2022-06-17 23:52] designerfuzzi commented on #235
methodical thinking pointed the right direction and with help the learning curve was sharp. Thnx

[2022-11-17 16:59] Kyle-Ye opened #237 "Add primary associated type support"
When Swift released 5.7 in Xcode 14.0, Combine framework has updated its protocol interface to support primary associated type support.

eg.
[code]
[code]

Adding such feature support enable us to use `some Publisher<Int, Error>` without needing to convert it to AnyPublisher.

[code]

See more info at [Combining opaque return types with primary associated types](https://www.swiftbysundell.com/arti

[2022-11-17 17:01] broadwaylamb commented on #237
It's implemented in #236. I'll merge it as soon as I fix the failing compatibility tests.